*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: url(img/1.jpg);
    -webkit-box-sizing: cover;
    background-size: cover;
    background-attachment: fixed;
}